absl-py==1.0.0
alembic==1.8.1
anyio==3.6.1
appdirs==1.4.4
argcomplete==1.12.3
asgiref==3.5.2
asttokens==2.0.5
astunparse==1.6.3
autopep8==1.6.0
backcall==0.2.0
bcrypt==3.2.2
Beaker==1.10.0
beautifulsoup4==4.11.0
blivet==3.4.3
CacheControl==0.12.11
cachetools==5.0.0
cachy==0.3.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.4
cleo==0.8.1
click==8.0.1
clikit==0.6.2
cmake==3.22.5
configobj==5.0.6
crashtest==0.3.1
cryptography==3.4.7
cycler==0.11.0
dasbus==1.6
dbus-python==1.2.18
debugpy==1.6.0
decorator==5.1.1
distlib==0.3.4
distro==1.6.0
dlib==19.24.0
dnspython==2.2.1
ecdsa==0.18.0
email-validator==1.2.1
entrypoints==0.4
evdev==1.5.0
executing==0.8.3
face-recognition==1.3.0
face-recognition-models==0.3.0
fastapi==0.78.0
filelock==3.7.1
Flask==2.1.1
flask-marshmallow==0.14.0
Flask-SQLAlchemy==2.5.1
flatbuffers==2.0
fonttools==4.32.0
gast==0.5.3
google-auth==2.6.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.44.0
h11==0.13.0
h5py==3.6.0
html5lib==1.1
httptools==0.4.0
humanize==0.5.1
idna==3.2
ipykernel==6.13.0
ipython==8.2.0
itsdangerous==2.1.2
jedi==0.18.1
jeepney==0.8.0
Jinja2==3.1.1
jupyter-client==7.2.2
jupyter-core==4.10.0
keras==2.8.0
Keras-Preprocessing==1.1.2
keyring==23.6.0
kiwisolver==1.4.2
langtable==0.0.58
libclang==13.0.0
libvirt-python==7.6.0
lockfile==0.12.2
lxml==4.6.5
Mako==1.1.4
Markdown==3.3.6
MarkupSafe==2.0.0
marshmallow==3.15.0
matplotlib==3.5.1
matplotlib-inline==0.1.3
mercurial==5.9.3
mod-wsgi==4.9.0
msgpack==1.0.4
mysqlclient==2.1.1
nest-asyncio==1.5.5
nftables==0.1
novas==3.1.1.5
numpy==1.21.5
oauthlib==3.2.0
olefile==0.46
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opt-einsum==3.3.0
orjson==3.7.5
packaging==20.9
pandas==1.4.2
parso==0.8.3
passlib==1.7.4
Paste==3.5.0
pastel==0.2.1
pexpect==4.8.0
pickleshare==0.7.5
pid==2.2.3
Pillow==8.3.2
pkginfo==1.8.3
platformdirs==2.5.2
ply==3.11
podman-compose @ https://github.com/containers/podman-compose/archive/devel.tar.gz
poetry==1.1.13
poetry-core==1.0.8
productmd==1.33
prompt-toolkit==3.0.29
protobuf==3.19.4
psutil==5.8.0
ptyprocess==0.6.0
pure-eval==0.2.2
pwquality==1.4.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
pycodestyle==2.8.0
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.44.1
pydantic==1.9.1
pyenchant==3.2.2
Pygments==2.11.2
PyGObject==3.42.0
pykickstart==3.34
pylev==1.4.0
PyMySQL==1.0.2
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyparted==3.12.0
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-dotenv==0.20.0
python-jose==3.3.0
python-meh==0.50
python-multipart==0.0.5
python-vlc==3.0.16120
pytz==2022.1
pyudev==0.22.0
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.3.0
regex==2022.3.15
requests==2.27.1
requests-file==1.5.1
requests-ftp==0.3.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rpm==4.17.0
rsa==4.8
scipy==1.8.0
scour==0.38.1
seaborn==0.11.2
SecretStorage==3.3.2
selinux==3.3
sepolicy==3.3
setools==4.4.0
shellingham==1.4.0
simpleaudio==1.0.4
simpleline==1.8.2
six==1.16.0
sniffio==1.2.0
sos==4.2
soupsieve==2.3.1
SQLAlchemy==1.4.36
stack-data==0.2.0
starlette==0.19.1
systemd-python==234
Tempita==0.5.2
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
terminator==2.1.1
tf-estimator-nightly==2.8.0.dev2021122109
toml==0.10.2
tomlkit==0.11.0
tornado==6.1
traitlets==5.1.1
typing_extensions==4.1.1
ujson==5.3.0
urllib3==1.26.7
uvicorn==0.17.6
uvloop==0.16.0
virtualenv==20.15.1
watchgod==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.3
Werkzeug==2.0.3
wrapt==1.14.0
